*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    padding: 25px;
    font-size: 50px;
    text-shadow: 4px 4px lightblue;
    animation: doimau ease 4s infinite;
}
 @keyframes doimau{
     from{
         color: lightblue;
     }
     to{
         color: darkblue;
     }
 }
/*css nav*/
nav{
    background-color: darkblue;
    border-right: black;
}

nav > ul{
    list-style-type: none;
    display: flex;
    padding: 7px;
}

nav > ul > li{
    border-right:1px solid black;
    text-align: center;
}

nav > ul > li:last-child{
    border-right: none;
}

nav > ul > li > a{
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    color: white;
}

nav > ul > li > a:hover{
    text-decoration: underline;
    background-color: lightblue;
}
/*css điện thoại*/

h2{
    background-color: darkblue;
    color: white;
    font-size: 50px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
    width: 25%;
}

div.line{
        width: 100%;
        height:5px;
        background-color: darkblue;
}

div.info > img{
    width: 80%;
    transition: ease 0.5s;
}

div.info > img:hover{
    transform: scale(1.2);
}

div.info{
    width: 22%;
    margin: 1%;
    border: 1px solid darkblue;
    border-radius: 15px;
    color: white;
    padding: 6px;
    text-align: center;
}

div.phone{
    display: flex;
    flex-wrap: wrap;
}

div.info > div:last-child{
    background: linear-gradient(lightblue, darkblue);
    padding: 6px;
}
div.info > div > img{
    width: 300px;
    padding: 25px;
}
/*css footer*/
footer > ul{
    background-image: url(..//images/bg_footer.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #0a6fa3;
    list-style-type: none;
}